#title {
    background-color: red;
    color: black;
    text-align: center;
}
.linklist {
    font-size: 30px;
}
.list1 {
    text-align: center;
}
img {
    width: 300px;
    height: auto;
}
.titles {
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
}
.subtitle {
    font-size: 20px;
    color: red;
}
.hook {
    color: blue;
    font-size: 20px;
}